body{
  background-color:#000000 ;
  font-family: arial,Roboto,Helvetica,Segoe UI;
  font-size: 20px;
  line-height: 24px;
  color: #e7e9ea;
  display: flex;

}
.logo{
  width: 250px;
  margin-left: 5%;
}
#menu ul{
  list-style-type: none;
}
#menu {
  width: 24%;
}

#menu li{

  width: min-content;
  display: flex;

  padding: 5%;
  padding-left: 10%;
  border-radius: 25px;
}
#menu li img{

  width: 250px;
}
#menu li:hover{
  background-color: #181818;
}
.corp{
  padding: 2%;
  width: 109%;
  border-right: solid 1px #3B3B3B;
  border-left: solid 1px #3B3B3B;
}

.corp .title{
  font-weight: bold;
}

.corpHeader{
  width: 100%;

  border-bottom: solid 1px #3B3B3B;
}
.display{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 1%;
  padding-top: 5%;
}
.allItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #16181C;
  padding: 4%;
  border-radius: 15px;
  margin-top: 5%;
  font-size: 65%;
  width: 300px;
}
.item p{
  margin-top: 0;
  margin-bottom: 1rem;
  width: 108%;
  padding-left: 3%;
  margin-left: -4%;
}
.item p:hover{
  background-color: #1D1F23;
}
.item .title{
  font-weight: bold;
  font-size: 130%;
}
.item span{
  font-weight: lighter;
  font-size: 80%;
}
#submit{
  width: 200px;
  height: 50px;
  margin-left: 391px;
  margin-top: 38px;
  background-color: #024FB9;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
}
.btnUpdate{
  width: 50%;
  padding: 3%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: #FF1703;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
  text-decoration: none;
}
.formUpdate{
  border: 2px solid white;
  width: 458px;
  display: flex;
  flex-direction: column;
  margin-left: 96%;
  margin-top: -21%;
  padding: 5%;
}
.formUpdate input{
  width: 80%;
  padding: 2%;
  border-radius: 25px;
  border: none;
  margin: 0 auto;
  margin-top: 10%;
}
.formUpdate button{
  margin: 0 auto;
  width: 50%;
  padding: 3%;
  margin-left: 25%;
  margin-top: 5%;
  background-color: #FF1703;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
}
.formUpdate p{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}
.logoUpdate{
  width: 335px;
}
@media  (min-width: 321px) and (max-width: 799px){
  #menu {
    width: 22%;
  }
  .logo {
    width: 65px;
    margin-left: 0%;
  }
  .item {
    background-color: #16181C;
    padding: 4%;
    border-radius: 15px;
    margin-top: 5%;
    font-size: 65%;
    width: 200px;
    margin-left: 10%;
  }

  #submit{
    width: 171px;
    height: 50px;
    margin-left: 66px;
    margin-top: 38px;
    background-color: #024FB9;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
  }

  .corp {
    padding: 2%;
    width: 95%;
  }

  #menu li {

    padding-left: 0%;

    margin-left: -28px;
  }

  .logoUpdate {
    width: 123px;
  }

  .formUpdate {
    width: 154%;
    margin-left: 7%;
    margin-top: 0%;

  }
}
@media (min-width: 800px) and (max-width: 966px){
  #submit {
    margin-left: 212px;
  }

  .logo {
    width: 190px;
    margin-left: 0%;
  }

  .item {
    margin-left: 122px;
  }

  .formUpdate {
    width: 357px;

  }

}
@media (min-width : 1001px) and (max-width: 1300px) and (orientation : landscape) {

  #menu {
    width: 15%;
  }
  .logo {
    width: 163px;
    margin-left: 0%;
  }
  .item {
    
    width: 263px;
  }
}
